html,
body,
#container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  padding-top: 50px;
  padding-right: 0 !important;
}
nav {
  padding-right: 0 !important;
}
#mapid {
  width: auto;
  height: 93vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#sidebar {
  margin-top: 51px;
}
.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
